<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="Books">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>E-library</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="usersDemo.js"></script>
</head>
<body>
<div class="page-header text-right">
    <button type="button" class="btn btn-link">My account</button>
</div>
<div class="container">
    <div class="row">
        <div class="panel-heading text-center">
            <h1><b>E-library<br>Home</b></h1>
            <span class="glyphicon glyphicon-book"></span>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="form-inline col-md-12">
                <input type="text" class="form-control" id="search" placeholder="Search"/>
        </div>
    </div>
    <div class="row">&nbsp;</div>
<div class="row">
    <div class="form-inline col-md-12">
        <div class="dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="filter">Filter
                <span class="caret"></span></button>
            <u1 class="dropdown-menu">
                <li><a href="#">Author</a></li>
                <li><a href="#">Title</a></li>
                <li><a href="#">ISBN</a></li>
                <li><a href="#">Producer</a></li>
                <li><a href="#">Year</a></li>
            </u1>
        </div>
    </div>
</div>
    <div class="row">&nbsp;</div>
    <div  ng-controller="Books">
    <table class="table">
        <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Producer</th>
            <th>Year</th>
            <th> </th>
        </tr>
        </thead>

        <tbody ng-repeat="book in books">
        <tr>
            <td>{{ book.author }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.producer }}</td>
            <td>{{ book.year }}</td>
            <td><button type="button" class="btn">Check availability</button></td>
        </tr>

        </tbody>
    </table>

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>